#answer1{
    background-color: #4CAF50;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer2{
    background-color: #f94a1e;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer3{
    background-color: #3399ff;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#answer4{
    background-color: #ff9933;
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.square{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 70px;
    height: 0px;
    font-size: 20px;
}

#square1{
    background-color: #4CAF50;
}
#square2{
    background-color: #f94a1e;
}
#square3{
    background-color: #3399ff;
}
#square4{
    background-color: #ff9933;
}

#nextQButton{
    display: none;
}
#question{
    font-family: 'Raleway', sans-serif;
}
#timerText{
    font-family: 'Raleway', sans-serif;
}
#num{
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
}
#playersAnswered{
    font-family: 'Tajawal', sans-serif;
}
#questionNum{
    font-family: 'Tajawal', sans-serif;
}

#winner1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 30px;
    display: none;
}
#winner2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;
    display: none;
}
#winner3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    display: none;
}
#winner4{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}
#winner5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: none;
}
#winnerTitle{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #3399ff;
    display: none;
}